* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea{
    font-family: "Roboto", sans-serif;

}

header{
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f3;
}
 header h1
 section h2{
    font-weight: normal;
 }

header,
section h2,
section h3,
form button{
    font-family: "Bungee Shade", sans-serif;
    font-weight: normal;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 14px;
    color: #ecf0f3;
}

header nav li a{
    color: #ecf0f3;
    text-decoration: none;

}

#about img{
    margin-top: 24px;
    
}

.container{
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Brand-list img{
    height: 24px;
    margin-top: 16px;
}

.Brand-list li{
    display: inline;
    margin-right: 10px;
}
section .container{
    align-items: flex-start;
}

section h2{
    padding: 24px 0;
    margin-bottom: 16px;
    color: #182c61;
}

section{
    margin-bottom: 16px;
}


section p{
    margin-bottom: 8px;
}
 section img{
    margin-right: 32px;
 }

 .social-links img{
    height: 30px;
    

 }

 .social-links li{
    display: inline;
    

 }

 .social-links li a{
    text-decoration: none;
 }

 #contact .container{
    display: block;
 }

 .contact-methods{
    display: flex;
    justify-content: space-between;
 }

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 100px;
}

form button{
    background-color: #182c61;
    color: #ecf0f3;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #748ac9;
}

input:focus, textarea:focus{
    outline-color: #182c61;
}

footer{
    background-color: #182c61;
    color: #ecf0f3;
    padding: 16px 0;
}